<template>
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-header">
                        <h3 class="card-title">Transaction by Country</h3>


                    </div>

                    <!-- /.card-header -->
                    <div class="card-body table-responsive p-0">
                        <table class="table table-hover">
                            <tbody>
                            <tr class="text-center">
                                <th>Country</th>
                                <th>Saccos</th>
                                <th>Deposited</th>
                                <th>Withdrawn</th>
                                <th>Net Gain</th>

                            </tr>
                            <tr v-for="(prod, index) in reports" :key="prod.id" >
                                <td>{{prod.country}}</td>
                                <td class="text-right">{{prod.saccos}}</td>
                                <td class="text-right">{{ formatCurr(prod.deposited)}}</td>
                                <td class="text-right">{{formatCurr(prod.withdrawn)}}</td>
                                <td class="text-right">{{formatCurr(prod.netgain)}}</td>


                            </tr>
                            <tr class="text-bold text-right">
                                <td>Total</td>
                                <td>{{formatCurr(saccos)}}</td>
                                <td>{{formatCurr(deposited)}}</td>
                                <td>{{formatCurr(withdrawn)}}</td>
                                <td>{{formatCurr(netgained)}}</td>

                            </tr>
                            </tbody>
                        </table>
                    </div>
                    <!-- /.card-body -->
                </div>
                <!-- /.card -->
            </div>
        </div>

    </div>
</template>
<script>
    export default{
        data(){
            return {
                reports: [],
                errors: [],
                total:0

            }
        },
        created(){
            this.fetchReports();
            console.log(this.reports)
           },

        methods: {
            fetchReports(){
                axios.get('api/dashboard/reports')
                        .then(({data}) =>(this.reports = data.data ))

            },

            formatCurr(value) {
                    let val = (value/1).toFixed(2).replace(',', '.')
                    return val.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",")
                }


        },
        computed: {
            saccos: function () {
                return this.reports.reduce(function (total, item) {
                    return parseInt(total) + parseInt(item.saccos);
                }, 0);
            },
            deposited: function () {
                return this.reports.reduce(function (total, item) {
                    return parseInt(total) + parseInt(item.deposited);
                }, 0);
            },
            withdrawn: function () {
                return this.reports.reduce(function (total, item) {
                    return parseInt(total) + parseInt(item.withdrawn);
                }, 0);
            },
            netgained: function () {
                return this.reports.reduce(function (total, item) {
                    return parseInt(total) + parseInt(item.netgain);
                }, 0);
            }
        }

    }
</script>
